
@{
    ViewBag.Title = "YogaDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Admin/Contents/Pages/jquery-3.6.0.min.js"></script>
<script src="~/Admin/Contents/Pages/Yogasan.js"></script>

<h2>YogaDetails</h2>

<table id="tblAsan" class="table table-dark">

    <thead>
    <th>AsanId</th>
    <th>AsanName</th>
    <th>Description</th>
    <th>Steps</th>
    <th>Photo1</th>
    <th>Photo2</th>
    <th>Benefits</th>
    <th>Precaution</th>
    <th>CreatedBy</th>
    <th>Category</th>
    <th>Type</th>
    </thead>
    <tbody></tbody>
</table>